body {
  background-color: gray;
}
.d1 {
  background: LightSkyBlue;
}
.d2 {
  background: LightSalmon;
}
.d3 {
  background: PaleTurquoise;
}
.d4 {
  background: LightPink;
}
.d5 {
  background: PaleGreen;
  grid-column: 2 / 4;
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
}

.container {
  font-size: 40px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 50px 50px 50px;
  row-gap: 10px;
  column-gap: 10px;
}
