p {
  font-size: 20px;
  width: 75vmin;
}

@media (max-height: 800px) {
  p {
    font-size: 10px;
  }
}
img {
  width: 600px;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}

h2 {
  width: 80vw;
  background-color: red;
}
